extends dash

block container

  each option in question.Options
    .counter(style="display:none;", ng-init="count[#{option.id}] = 0")
  each answer in question.Answers
    .counter(style="display:none;", ng-init="count[#{answer.result}] = count[#{answer.result}]+1")

  #report
    h2=question.title
    h3 Q:#{question.question}
    each option in question.Options
      p ({{count[#{option.id}]}}) -#{option.discription}
